
.popup-container .mapboxgl-popup-content {
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    max-width: 260px;
  }
  
  .popup-container .mapboxgl-popup-tip {
    fill: white;
  }
  

  .popup-close-button {
    margin-top: -11px; 
    margin-right: 0;  
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .popup-close-button:hover {
    color: #1a202c; 
  }
  